In [66]:
import pandas as pd

In [67]:
## open product CSV
pd_reader =pd.read_csv(open("olist_products_dataset3.csv"))

products_dataset = pd_reader

In [68]:
products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [69]:
products_dataset.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [70]:
## fill the gap 

products_dataset["product_category_name"].fillna("other", inplace = True)

In [71]:
products_dataset.isnull().sum()

product_id                      0
product_category_name           0
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [72]:
products_dataset["product_category_name"]

0                               perfumaria
1                                    artes
2                            esporte_lazer
3                                    bebes
4                    utilidades_domesticas
                       ...
32946                     moveis_decoracao
32947    construcao_ferramentas_iluminacao
32948                      cama_mesa_banho
32949               informatica_acessorios
32950                      cama_mesa_banho
Name: product_category_name, Length: 32951, dtype: object

In [73]:
## change the other type of products become 'other' product
for col in products_dataset["product_category_name"]:
    if col != 'cama_mesa_banho'and col != 'esporte_lazer'and col != 'beleza_saude' and col !='moveis_decoracao' and col != 'utilidades_domesticas'and col != 'automotivo'and col != 'brinquedos'and col != 'informatica_acessorios'and col != 'relogios_presentes'and col != 'telefonia':
        products_dataset["product_category_name"].replace(col,'other',inplace=True)

In [74]:
## categorize product type
new_products_dataset = pd.get_dummies(products_dataset, columns=["product_category_name"], prefix=["type_"])
new_products_dataset

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,type__automotivo,type__beleza_saude,type__brinquedos,type__cama_mesa_banho,type__esporte_lazer,type__informatica_acessorios,type__moveis_decoracao,type__other,type__relogios_presentes,type__telefonia,type__utilidades_domesticas
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,0,0,0,0,0,0,0,1,0,0,0
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,0,0,0,0,0,0,0,1,0,0,0
2,96bd76ec8810374ed1b65e291975717f,46.0,250.0,1.0,154.0,18.0,9.0,15.0,0,0,0,0,1,0,0,0,0,0,0
3,cef67bcfe19066a932b7673e239eb23d,27.0,261.0,1.0,371.0,26.0,4.0,26.0,0,0,0,0,0,0,0,1,0,0,0
4,9dc1a7de274444849c219cff195d0b71,37.0,402.0,4.0,625.0,20.0,17.0,13.0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,0,0,0,0,0,0,1,0,0,0,0
32947,bf4538d88321d0fd4412a93c974510e6,41.0,971.0,1.0,1700.0,16.0,19.0,16.0,0,0,0,0,0,0,0,1,0,0,0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,50.0,799.0,1.0,1400.0,27.0,7.0,27.0,0,0,0,1,0,0,0,0,0,0,0
32949,83808703fc0706a22e264b9d75f04a2e,60.0,156.0,2.0,700.0,31.0,13.0,20.0,0,0,0,0,0,1,0,0,0,0,0
32950,106392145fca363410d287a815be6de4,58.0,309.0,1.0,2083.0,12.0,2.0,7.0,0,0,0,1,0,0,0,0,0,0,0

In [75]:
## drop some features that we don't need
new_products_dataset=new_products_dataset.drop(columns=['product_name_lenght','product_weight_g','product_length_cm','product_height_cm','product_width_cm'])

In [76]:
## introduce another items CSV 

pd_reader2 =pd.read_csv(open("order_items_edited.csv"))

In [77]:
OrderItems_Dataset = pd_reader2

In [78]:
OrderItems_Dataset.head()

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,Total Sales Rate,total expenditure,freight_value Rate
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,23%,72.19,18%
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,8%,259.83,8%
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,9%,216.87,8%
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,98%,25.78,50%
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,9%,218.04,8%

In [79]:
New_Dataset = pd.merge(OrderItems_Dataset,new_products_dataset,how='left',left_on='product_id',right_on='product_id')

In [80]:
New_Dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    112650 non-null  int64
 1   order_id                      112650 non-null  object
 2   order_item_id                 112650 non-null  int64
 3   product_id                    112650 non-null  object
 4   seller_id                     112650 non-null  object
 5   shipping_limit_date           112650 non-null  object
 6   price                         112650 non-null  float64
 7   freight_value                 112650 non-null  float64
 8   Total Sales Rate              112650 non-null  object
 9   total expenditure             112650 non-null  float64
 10  freight_value Rate            112650 non-null  object
 11  product_description_lenght    111047 non-null  float64
 12  product_photos_qty            111047 non-null  float64
 13  type__automotivo              112650 non-null  uint8
 14  type__beleza_saude            112650 non-null  uint8
 15  type__brinquedos              112650 non-null  uint8
 16  type__cama_mesa_banho         112650 non-null  uint8
 17  type__esporte_lazer           112650 non-null  uint8
 18  type__informatica_acessorios  112650 non-null  uint8
 19  type__moveis_decoracao        112650 non-null  uint8
 20  type__other                   112650 non-null  uint8
 21  type__relogios_presentes      112650 non-null  uint8
 22  type__telefonia               112650 non-null  uint8
 23  type__utilidades_domesticas   112650 non-null  uint8
dtypes: float64(5), int64(2), object(6), uint8(11)
memory usage: 13.2+ MB

In [82]:
New_Dataset=New_Dataset.drop(columns=['seller_id'])

In [83]:
New_Dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 23 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    112650 non-null  int64
 1   order_id                      112650 non-null  object
 2   order_item_id                 112650 non-null  int64
 3   product_id                    112650 non-null  object
 4   shipping_limit_date           112650 non-null  object
 5   price                         112650 non-null  float64
 6   freight_value                 112650 non-null  float64
 7   Total Sales Rate              112650 non-null  object
 8   total expenditure             112650 non-null  float64
 9   freight_value Rate            112650 non-null  object
 10  product_description_lenght    111047 non-null  float64
 11  product_photos_qty            111047 non-null  float64
 12  type__automotivo              112650 non-null  uint8
 13  type__beleza_saude            112650 non-null  uint8
 14  type__brinquedos              112650 non-null  uint8
 15  type__cama_mesa_banho         112650 non-null  uint8
 16  type__esporte_lazer           112650 non-null  uint8
 17  type__informatica_acessorios  112650 non-null  uint8
 18  type__moveis_decoracao        112650 non-null  uint8
 19  type__other                   112650 non-null  uint8
 20  type__relogios_presentes      112650 non-null  uint8
 21  type__telefonia               112650 non-null  uint8
 22  type__utilidades_domesticas   112650 non-null  uint8
dtypes: float64(5), int64(2), object(5), uint8(11)
memory usage: 12.4+ MB

In [84]:
## we now apply other four csv in left side
pd_reader_order_dataset =pd.read_csv(open("order_pd.csv"))
pd_reader_payment =pd.read_csv(open("clean_payment_data.csv"))
pd_reader_customer =pd.read_csv(open("customer_order.csv"))
pd_reader_reviews =pd.read_csv(open("minfinal_reviews_dataset.csv"))

In [85]:
pd_reader_order_dataset.isnull().sum()

Unnamed: 0                          0
order_id                            0
customer_id                         0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
status__approved                    0
status__canceled                    0
status__created                     0
status__delivered                   0
status__invoiced                    0
status__processing                  0
status__shipped                     0
status__unavailable                 0
period                              0
ship_score                       2965
dtype: int64

In [86]:
#pd_reader_customer.info()
pd_reader_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99440 entries, 0 to 99439
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           99440 non-null  object
 1   installments_use   99440 non-null  int64
 2   order_voucher_use  99440 non-null  int64
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [87]:
pd_reader_order_dataset =pd_reader_customer

merge_data_payment = pd.merge(pd_reader_order_dataset,pd_reader_payment,how='left',on='order_id')

In [88]:
##test 

merge_data_payment.isnull().sum()

Unnamed: 0                          0
customer_id                         0
customer_unique_id                  0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
Unnamed: 0.1                        0
order_id                            0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
status__approved                    0
status__canceled                    0
status__created                     0
status__delivered                   0
status__invoiced                    0
status__processing                  0
status__shipped                     0
status__unavailable                 0
period                              0
ship_score                       2965
installments_use                    1
order_voucher_use                   1
dtype: int64

In [89]:
merge_data_payment=merge_data_payment.drop(columns=['order_purchase_timestamp','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date'])

In [90]:
merge_data_payment.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                99441 non-null  int64
 1   customer_id               99441 non-null  object
 2   customer_unique_id        99441 non-null  object
 3   customer_zip_code_prefix  99441 non-null  int64
 4   customer_city             99441 non-null  object
 5   customer_state            99441 non-null  object
 6   Unnamed: 0.1              99441 non-null  int64
 7   order_id                  99441 non-null  object
 8   status__approved          99441 non-null  int64
 9   status__canceled          99441 non-null  int64
 10  status__created           99441 non-null  int64
 11  status__delivered         99441 non-null  int64
 12  status__invoiced          99441 non-null  int64
 13  status__processing        99441 non-null  int64
 14  status__shipped           99441 non-null  int64
 15  status__unavailable       99441 non-null  int64
 16  period                    99441 non-null  object
 17  ship_score                96476 non-null  float64
 18  installments_use          99440 non-null  float64
 19  order_voucher_use         99440 non-null  float64
dtypes: float64(3), int64(11), object(6)
memory usage: 15.9+ MB

In [91]:
pd_reader_reviews

                               order_id latest_comment_time  max_score
0      00010242fe8c5a6d1ba2dd792cb16214    22/09/2017 10:57          5
1      00018f77f2f0320c557190d7a144bdd3    15/05/2017 11:34          4
2      000229ec398224ef6ca0657da4fc703e    23/01/2018 16:06          5
3      00024acbcdf0a6daa1e931b038114c75    15/08/2018 16:39          4
4      00042b26cf59d7ce69dfabb4e55b4fd9    03/03/2017 10:54          5
...                                 ...                 ...        ...
89578  fffc94f6ce00a00581880bf54a75a037    14/05/2018 12:53          5
89579  fffcd46ef2263f404302a634eb57f7eb    25/07/2018 09:25          5
89580  fffce4705a9662cd70adb13d4a31832d    29/10/2017 21:33          5
89581  fffe18544ffabc95dfada21779c9644f    18/08/2017 12:24          5
89582  fffe41c64501cc87c801fd61db3f6244    17/06/2018 21:27          5

[89583 rows x 3 columns]

In [92]:
#merge_data_customer.drop(columns=['customer_zip_code_prefix'])
merge_data_review = pd.merge(merge_data_payment,pd_reader_reviews,how='left',left_on='order_id',right_on='order_id')

In [93]:
merge_data_review.isnull().sum()

Unnamed: 0                     0
customer_id                    0
customer_unique_id             0
customer_zip_code_prefix       0
customer_city                  0
customer_state                 0
Unnamed: 0.1                   0
order_id                       0
status__approved               0
status__canceled               0
status__created                0
status__delivered              0
status__invoiced               0
status__processing             0
status__shipped                0
status__unavailable            0
period                         0
ship_score                  2966
installments_use               1
order_voucher_use              1
latest_comment_time         9889
max_score                   9889
dtype: int64

In [94]:
merge_data_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99472 entries, 0 to 99471
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                99472 non-null  int64
 1   customer_id               99472 non-null  object
 2   customer_unique_id        99472 non-null  object
 3   customer_zip_code_prefix  99472 non-null  int64
 4   customer_city             99472 non-null  object
 5   customer_state            99472 non-null  object
 6   Unnamed: 0.1              99472 non-null  int64
 7   order_id                  99472 non-null  object
 8   status__approved          99472 non-null  int64
 9   status__canceled          99472 non-null  int64
 10  status__created           99472 non-null  int64
 11  status__delivered         99472 non-null  int64
 12  status__invoiced          99472 non-null  int64
 13  status__processing        99472 non-null  int64
 14  status__shipped           99472 non-null  int64
 15  status__unavailable       99472 non-null  int64
 16  period                    99472 non-null  object
 17  ship_score                96506 non-null  float64
 18  installments_use          99471 non-null  float64
 19  order_voucher_use         99471 non-null  float64
 20  latest_comment_time       89583 non-null  object
 21  max_score                 89583 non-null  float64
dtypes: float64(4), int64(11), object(7)
memory usage: 17.5+ MB

In [96]:
final_merge_dataset = pd.merge(New_Dataset,merge_data_review,how='left',left_on='order_id',right_on='order_id')
final_merge_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112688 entries, 0 to 112687
Data columns (total 44 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0_x                  112688 non-null  int64
 1   order_id                      112688 non-null  object
 2   order_item_id                 112688 non-null  int64
 3   product_id                    112688 non-null  object
 4   shipping_limit_date           112688 non-null  object
 5   price                         112688 non-null  float64
 6   freight_value                 112688 non-null  float64
 7   Total Sales Rate              112688 non-null  object
 8   total expenditure             112688 non-null  float64
 9   freight_value Rate            112688 non-null  object
 10  product_description_lenght    111085 non-null  float64
 11  product_photos_qty            111085 non-null  float64
 12  type__automotivo              112688 non-null  uint8
 13  type__beleza_saude            112688 non-null  uint8
 14  type__brinquedos              112688 non-null  uint8
 15  type__cama_mesa_banho         112688 non-null  uint8
 16  type__esporte_lazer           112688 non-null  uint8
 17  type__informatica_acessorios  112688 non-null  uint8
 18  type__moveis_decoracao        112688 non-null  uint8
 19  type__other                   112688 non-null  uint8
 20  type__relogios_presentes      112688 non-null  uint8
 21  type__telefonia               112688 non-null  uint8
 22  type__utilidades_domesticas   112688 non-null  uint8
 23  Unnamed: 0_y                  112688 non-null  int64
 24  customer_id                   112688 non-null  object
 25  customer_unique_id            112688 non-null  object
 26  customer_zip_code_prefix      112688 non-null  int64
 27  customer_city                 112688 non-null  object
 28  customer_state                112688 non-null  object
 29  Unnamed: 0.1                  112688 non-null  int64
 30  status__approved              112688 non-null  int64
 31  status__canceled              112688 non-null  int64
 32  status__created               112688 non-null  int64
 33  status__delivered             112688 non-null  int64
 34  status__invoiced              112688 non-null  int64
 35  status__processing            112688 non-null  int64
 36  status__shipped               112688 non-null  int64
 37  status__unavailable           112688 non-null  int64
 38  period                        112688 non-null  object
 39  ship_score                    110234 non-null  float64
 40  installments_use              112685 non-null  float64
 41  order_voucher_use             112685 non-null  float64
 42  latest_comment_time           101577 non-null  object
 43  max_score                     101577 non-null  float64
dtypes: float64(9), int64(13), object(11), uint8(11)
memory usage: 30.4+ MB

In [97]:
final_merge_dataset.isnull().sum()

Unnamed: 0_x                        0
order_id                            0
order_item_id                       0
product_id                          0
shipping_limit_date                 0
price                               0
freight_value                       0
Total Sales Rate                    0
total expenditure                   0
freight_value Rate                  0
product_description_lenght       1603
product_photos_qty               1603
type__automotivo                    0
type__beleza_saude                  0
type__brinquedos                    0
type__cama_mesa_banho               0
type__esporte_lazer                 0
type__informatica_acessorios        0
type__moveis_decoracao              0
type__other                         0
type__relogios_presentes            0
type__telefonia                     0
type__utilidades_domesticas         0
Unnamed: 0_y                        0
customer_id                         0
customer_unique_id                  0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
Unnamed: 0.1                        0
status__approved                    0
status__canceled                    0
status__created                     0
status__delivered                   0
status__invoiced                    0
status__processing                  0
status__shipped                     0
status__unavailable                 0
period                              0
ship_score                       2454
installments_use                    3
order_voucher_use                   3
latest_comment_time             11111
max_score                       11111
dtype: int64

In [98]:
final_merge_dataset.to_csv('final_features.csv')